:root {
  --animate-marquee: marquee var(--duration, 40s) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration, 40s) linear infinite;
}
.animate-marquee {
  animation: var(--animate-marquee);
}
.animate-marquee-vertical {
  animation: var(--animate-marquee-vertical);
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
} 